
@{
    Layout = null;
}

<form method="post" action="@Url.Action("RoleIndex")">

    <div class="form-group">
        <label>Role Adı</label>
        <input type="text" class="form-control" name="roleName" aria-describedby="emailHelp" placeholder="Role Adı">
        </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Kaydet</button>

    </div>
</form>
