
@{
    ViewBag.Title = "categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<section>
    <div class="container">
        <div class="text-muted mt-5 mb-5 text-center display-4">KATAGORİLER</div>
        <hr />
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 p-2">
                <div class="card p-3 shadow text-center border-0">
                    <div class="card-body">
                        <img src="https://img.icons8.com/nolan/64/coin-in-hand.png">                            <hr />
                        <h2 class="card-title display-1" style="font-size:3.0vmin;">KÖPEKLER</h2>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 p-2">
                <div class="card p-3 shadow text-center border-0">
                    <div class="card-body">
                        <img src="https://img.icons8.com/nolan/64/payment-history.png">                            <hr />
                        <h2 class="card-title display-1" style="font-size:3.0vmin;">KEDİLER</h2>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 p-2">
                <div class="card p-3 shadow text-center border-0">
                    <div class="card-body">
                        <img src="https://img.icons8.com/nolan/64/receive-cash.png">
                        <hr />
                        <h2 class="card-title display-1" style="font-size:3.0vmin;">KUŞLAR</h2>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 p-2">
                <div class="card p-3 shadow text-center border-0">
                    <div class="card-body">
                        <img src="https://img.icons8.com/nolan/64/safe-ok.png">
                        <hr />
                        <h2 class="card-title display-1" style="font-size:3.0vmin;">KURTLAR</h2>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 p-2">
                <div class="card p-3 shadow text-center border-0">
                    <div class="card-body">
                        <img src="https://img.icons8.com/nolan/64/commodity.png">
                        <hr />
                        <h2 class="card-title display-1" style="font-size:3.0vmin;">ARSLANLAR</h2>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 p-2">
                <div class="card p-3 shadow text-center border-0">
                    <div class="card-body">
                        <img src="https://img.icons8.com/nolan/64/refund.png">
                        <hr />
                        <h2 class="card-title display-1" style="font-size:3.0vmin;">AYILAR</h2>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 p-2">
                <div class="card p-3 shadow text-center border-0">
                    <div class="card-body">
                        <img src="https://img.icons8.com/nolan/64/welfare.png">
                        <hr />
                        <h2 class="card-title display-1" style="font-size:3.0vmin;">SÜRÜNGENLER</h2>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 p-2">
                <div class="card p-3 shadow text-center border-0">
                    <div class="card-body">
                        <img src="https://img.icons8.com/nolan/64/merchant-account.png">
                        <hr />
                        <h2 class="card-title display-1" style="font-size:3.0vmin;">KAPLANLAR</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-muted mt-5 mb-5 text-center">By Yavuz AYDIN <i class="fa fa-facebook text-primary" aria-hidden="true"></i> <i class="fa fa-instagram text-danger" aria-hidden="true"></i> /  | <i class="fa fa-globe" aria-hidden="true"></i> <a href="https://www.google.com/">GOOGLE</a></div>
    </div>
</section>

